.contactSection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:32px;
    width: 100%;
}

.contactSection input
{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #f5450e;
    border-radius:100px;
}

.contactSection textarea
{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #f5450e;
    border-radius: 16px;
}

.contactSection textarea::placeholder
{
    color: #D1D3D7;
    font-family: Poppins, sans-serif;
    font-size: 15px;

}


.contactSection select
{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #f5450e;
    border-radius:100px;
    color: #f5450e;
}

.contactSection input::placeholder
{
    color: #D1D3D7;
    font-size: 15px;
}