.footer
{
    color:var(--black20);
    gap:32px;
    border-bottom: 1px solid var(--black40) ;
}

.footerLogo
{
    height: 64px;
    width: auto;
}

.footerLogoContainer
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 360px;
    gap: 32px;
}

.footerLogoContainer p
{
    color: var(--black80);
}

.footerContent
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;
    padding:32px 0px;
    margin: 0 auto;
}

.footerNavigationLinks
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footerNavigationLink
{
    color: var(--black80);
    font-weight: bold;
    text-decoration: none;
}

.footerContactDetails
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:32px;
}

.detail{
    display: flex;
    gap: 8px;
}

.detail p
{
    color: var(--black80);
}

.detail img
{
    height: 24px;
    width: 24px;
}

.footerSocialLinks
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 16px;
    column-gap: 16px;
}

.socialIcon
{
    height: 64px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 100px;
    width: 64px;
    background-position: center;
}

.footerBottom
{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.footerBottom p
{
    color: var(--black80);
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 768px)
{
    .footerContent
    {
        flex-direction: column;
        gap: 32px;
    }

    .footerNavigationLinks
    {
        flex-direction: row;
        gap: 32px;
    }

    .footerContactDetails
    {
        gap: 32px;
    }

    .footerSocialLinks
    {
        grid-template-columns: repeat(2, 1fr);
    }
    
    
}