
.logoContainer{
    display: flex;
    align-items: center;
    height: 48px;
    width: auto;
    cursor: pointer;
}


.logoImage
{

    height: 100%;
    width: 100%;
}

.navigationLinks
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigationLink
{
    color: var(--black60);
    text-decoration: none;
    font-size: 15px;
    padding:12px 24px;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;

}

.navigationLink:hover
{
    background-color: var(--black20);
    transition: 0.5s;
}

.navigationLink.active
{
    background-color: #F5450E;
    color: var(--background);
    width: 100%;

}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 984px;
    width: 100%;
    padding: 0px 16px;
    margin: 32px auto;
}

