html,body
{
    height: 100%;
    width:100%;
    font-family: Poppins, sans-serif;
    background-color: var(--background);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#id
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    padding: 0px 64px;
    background-color: var(--background);
}

:root{
    --grad1:linear-gradient(180deg, #fff, rgba(245, 69, 14, 0.1), rgba(240, 14, 14, 0.1), rgba(245, 167, 14, 0.1));
    --shadowgrad:linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    --black:#1D2939;
    --black80:#4A5460;
    --black60:#777E88;
    --black40:#A4A9AF;
    --black20:#D1D3D7;
    --black10:#E7E9EA;
    --black5:#F3F3F4;
    --black2:#fafafa;
    --background:#fff;
    --anim:#feeae6;
    --portfolioHeader:#F3F3F4;
    --testimonialContainer:#E7E9EA;
}

.dark-mode
{
    --grad1:linear-gradient(180deg, rgb(29, 41, 57), rgb(32, 148, 232, 0.1), rgb(15, 121, 198, 0.1), rgb(16, 79, 125, 0.1));
    --shadowgrad:linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(29, 41, 57));
    --black:#fafafa;
    --black80:#F3F3F4;
    --black60:#E7E9EA;
    --black40:#D1D3D7;
    --black20:#A4A9AF;
    --black10:#777E88;
    --black5:#4A5460;
    --black2:#283649;
    --background:#1D2939;
    --portfolioHeader:#283649;
    --anim:#19496F;
    --testimonialContainer:#1D2939;

}

#main
{
    position: relative;
    overflow: hidden;
    gap:128px;
}

.sectionHeader
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionHeader h1
{
    color:var(--black);
}

.sectionHeader h1 span
{
    color:#F5450E;
}

.sectionHeader p
{
    color:var(--black80);
    text-align: center;
}

.buttonContainer
{
    display: flex;
    gap: 16px;
}


.sectionContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
    max-width: 1248px;
    width: 100%;
    padding:0 32px;
    margin: 0 auto;
}

.coloredSectionContainer
{
    width: 100%;
    background-color: var(--black2);
    padding:64px;
}

.horizontalSectionContainer
{
    display: flex;
    justify-content: center;
    gap:64px;
    align-items: center;
    width: 100%;
}


@media (max-width: 1024px)
{

    .horizontalSectionContainer
    {
        flex-direction: column;
    }
}

.page1, .page2, .page3, .page5, .page7,.page8
{
    position: relative;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page4,.page6
{
    position: relative;
    background-color: var(--background);
    width: 100vw;
    height: auto;
}