

.portfolioNavigationLinks
{
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--black10);
    border-radius: 100px;
    box-sizing: border-box;
    max-width: 984px;
}

.portfolioNavigationLink
{
    color: var(--black60);
    text-decoration: none;
    font-size: 15px;
    padding:12px 24px;
    border-radius: 100px;
}

.portfolioNavigationLink:hover
{
    background-color: var(--black20);
    transition: 0.5s;
}

.portfolioNavigationLink.active
{
    background-color: #F5450E;
    width: 100%;
    color: var(--background);
}

.portfolioContainer{
    display: grid;
    max-width: 1184px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 32px;
}

.portfolioImageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 32px;
}

.portfolioImage {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 32px;

}

.portfolioImageOverlay {
    position: absolute;
    bottom: -100%; /* Start off-screen */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: var(--background);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: bottom 0.5s ease-in-out;
}

.portfolioImageWrapper:hover .portfolioImageOverlay {
    bottom: 0; /* Move into view */
}



