.companiesLogoGrid
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    max-width: 984px;
    width: 100%;
}

.compnanyLogo
{
    height: 64px;
    width: auto;
}



.testimonialsContainer
{
    display: flex;
    flex-direction: column;
    gap:128px;
    justify-content: center;
    align-items: center;

}

.companiesTestimonialsContainer
{
    
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.testimonialsSection
{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.testimonials
{
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 984px;
    gap: 16px;
}

.testimonial
{
    min-width: 484px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding:32px 64px;
    border-radius: 100px;
    background-color:var(--testimonialContainer);
    transition: transform 0.5s ease-in-out;

}



.testimonialHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimonialSubHeader
{
    display: flex;
    gap: 16px;
    align-items: center;
}
.testimonialImage
{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.testimonialDetails h3
{
    color: var(--black);
}


.testimonial p
{
    color: var(--black60);
}

.testimonialDetails p
{
    color: var(--black80);
    font-weight: 500;
}

.testimonialDetails
{
    display: flex;
    flex-direction: column;
}

.testimonialsSubSection
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.carousel-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: var(--black40);
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #F5450E;
    width:32px;
}

.dot:hover {
    background-color: var(--black60);
}


@media (max-width:768px) {
    .companiesLogoGrid
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1024px) {
    .testimonials
    {
        max-width: 484px;
    }
}


