

.tools
{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 32px;
    column-gap: 32px;
    padding:32px 64px;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    width: 100%;
}

.toolSection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.toolSection p
{
    font-size: 18px;
    font-weight: bold;
    color: #1D2939;
}

.toolSection img
{
    width: 64px;
    height: 64px;
    object-fit: contain;
}